
@{
    ViewData["Title"] = "LinkTitleListExcel";
    Layout = "~/Areas/Admin/Views/Shared/_AdminAreaLayout.cshtml";
}

<h1>LinkTitleListExcel</h1>
<br />
<a href="/Admin/Link/ExportDynamicLinkList" class="btn btn-primary">Excel Listesini İndir</a>
